#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}


.container {
  width: 100%;
  max-width: 320px;
  padding: 12px;
}

.mainHeader{
  width: 100%;
  height: 9.2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10.3vw;
  
}
.navigation-btn{ 
    border-radius: 24px; 
    border: none;
    width: 25vw;
    height: 6.4vh;
    opacity: 0.1;  
    transition: opacity 0.3s ease;  
  }
  
  .navigation-btn:hover {
    opacity: 1; 
  }
  .lg-btn{
    display: flex;
    border-radius: 24px;
    gap:1.25vw;
  }
  .select-btn1, .select-btn2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23.25vw;
    height:6.33vh;
    padding: 10px;
    gap: 4px;
    background:#FFFFFF0A;
    border-radius: 32px;
    border: none;
  }
 
  .currency-div {
    display: flex;
    position: relative;
    width: 6.25vw;
    height: 6.25vw;
    align-items: center;
    justify-content: center;
  }
  .lang-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.25vw;
    height: 6.25vw;

  }
.currency-logo{
  display: flex;
  width: 6.25vw;
  height: 3.25vh;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
}
.dolar {
  position: absolute;
  width: 2.7vw;
  height: 2.7vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-weight: bold;
  color: white; 
}
.lang-logo{
  width: 6.25vw;
  height: 3.25vh;
}
.text-EN {
  color: rgb(249, 248, 248);  
  font-size:  0.75rem;  
}


.rightlanguage{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11.25vw;
  height: 6.33vh;
  border: none;
  border-radius: 50px;
  background: #FFFFFF0A;
}
.selected-lang-logo{
  width: 6.25vw;
  height: 3.25vh;
}
.currencyDiv{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 8.45vh;
  left: 39vw;
}
.currencyUl{
  animation: slideDown 1s ease-out; 
}
@keyframes slideDown {
  0% {
    transform: translateY(-4.46vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }

}

.currencyLi{
  list-style: none;
}
.currencyLi > button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23.1vw;
  height: 6.3vh;
  gap: 1.25vw;
  border:none;
  background:  #223440;
}
.currencyLi > button:hover{
  background: #3D4F5A;
}
.currencyLi:nth-child(1) > button{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.currencyLi:nth-child(3) > button{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.languageDiv{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 8.45vh;
  left: 64vw;
}
.languageUl{
    animation: slideDown 1s ease-out; 
  }
  @keyframes slideDown {
    0% {
      transform: translateY(-4.46vh);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  
  }
 
.languageLi{
  list-style: none;
}
.languageLi > button{
  display: flex;
  align-items: center;
  justify-content: center;
  width:20.3vw;
  height: 6.33vh;
  gap: 1.25vw;
  border:none;
  background:  #223440;
}

.languageLi > button:hover{
  background: #3D4F5A;
}
.languageLi:nth-child(1) > button{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.languageLi:nth-child(3) > button{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.language-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}
.loginRegistrationOrders{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7.74vh;
  justify-content: center;
  height: 80vh;
}
.loginRegist{
display:flex;
align-items: center;
justify-content: center;
width: 82.5vw;
border-radius: 7.74vh;
font-family: "Helvetica";
background: #FFFFFF;
color: #000000CC;
padding: 12px;
font-size: 12px;
border-radius: 20px;
}
.loginregblock{
  width: 82.5vw;
  height: auto;
  display:flex;
  flex-direction:column;
  gap:7vh;
}
.loginregMain{
  width: 82.5vw;
  height: 7vh;
  padding: 8px;
  font-size: 0.75rem;
  border-radius: 1.25rem;
  font-weight: 400;
  background:#FFFFFF;
  font-family: "Helvetica";
  letter-spacing: 3%;
  
  }
.orders{
  width: 92.5vw;
  height: 6.33vh;
  border-radius: 7.74vh;
  font-family: "Helvetica";
  background: #FFFFFF;
  color: #000000;
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 3%;
  
}

  .reg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
}

.registrationDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:4.2vh;
    width: 92.5vw;
    padding: 1rem;
    border-radius: 16px;
    background: #181B21;
}
.registration{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:rgba(0, 0, 0, 0.8);
  font-size: 0.75rem;
}
.logos{
  display: flex;
  gap:0.75rem;
  }
  

.logreg{
  display: flex;
  width: 70vw;
  height: auto;
  padding: 12px;
  background: #2D2F35;
  border-radius: 24px;
  gap:1.25vw;

}
.loginregcheck{
  display: flex;
  gap:6.25vw;

}
.loginRegist{
  display:flex;
  width: 33vw;
  height: 5.6vh;
  border-radius: 24px;
  border:none;
  background-color: transparent;
  color:white;
  font-family: "Helvetica" ;
  font-size: 0.75rem;
  letter-spacing: 3%;

}
.registrationReg{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33vw;
  height: 5.6vh;
  border-radius: 24px;
  border:none;
  color:#000000CC;
  font-size: 0.75rem;
  letter-spacing: 3%;
  
}
.checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.5vw;
  height: 7.5vh;
}
.registrationREG{
  display:flex;
  flex-direction: column;
  gap:1.76vh;
  width: 82.5vw;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12;
  font-family: "Helvetica" ;

}
input{
  width: 82.5vw;
  height: 7.74vh;
  border-radius: 16px;
  border: 1px;
  border-color: #FFFFFF1F 12%;
  background: #0D0F11;
  padding:  12px ;
  color: #FFFFFF;

}
.checkboxAndText{
  display: flex;
  width: 80vw;
  justify-content: start;
  gap:2.5vw;
}
.checkboxSoc {
  width: 6.5vw;
  height: 6.5vw;
  background-color: #20242C;
  border: 1px solid #f1f7f2;
  border-radius: 4px;
}



.useSoc{
  display:flex;
  opacity: 50%;
  align-items: center;
  font-size: 0.75rem;
  
}
.registrationAction{
  width: 82.5vw;
  height: 7.74vh;
  border-radius: 20px;
  background: #FFFFFF;
  color: rgba(0, 0, 0, 0.8); 
  font-size: 12px;
  font-family: "Helvetica" ;
  letter-spacing: 3%;

}
.forgotepasswordDiv{
  width: 82.5vw;
  height: auto;
}
.forgotepassword{
font-size: 0.75rem;
font-family: "Helvetica" ;
letter-spacing: 3%;
font-weight: 400;
color: rgba(255, 255, 255, 1);
opacity: 50%;
text-decoration: underline;
}
.orderPage{
  display: flex;
  flex-direction: column;
  gap: 2.4vh;
}
.order{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4vh;
  width: 100%;
  height: 90.8vh;
  padding:0.75rem;
}
.arrowAndOrders{
  display: flex;
  gap:0.5rem;
  padding: 0.5rem;
}
.order__title{
  display: flex;
  justify-content: start;
  width: 22.1vw;
  display: flex;
  font-size:0.625rem;
  font-family: "Helvetica";
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 3%;
  opacity: 50%;
}
.order__value{
  width: 22.1vw;
  display: flex;
  justify-content: start;
  font-family: "Helvetica";
  color: #ffffff;
  font-size: 0.75rem ;
  font-weight: 400;
  letter-spacing: 3%;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: auto;
  border-radius: 16px;
  padding: 0.75rem;
  background: #2D2F35;
  
}
.lineOforder + .lineOforder {

  width: 82.5vw;
  border-top: 1px solid #ddd;
  margin-top: 2vh;
  padding-top: 2vh;
}

.lineOforder{
  display: flex;
  justify-content: space-between;
  width:82.5vw;
  height: auto;
  gap:4px
}
.orderH1{
  font-size: 1.25rem;
  color: #ffffff;
  font-family: "Helvetica";
  font-weight: 700;
  letter-spacing: 3%;
}
.order__column {
  display: flex;
  flex-direction: column;
  gap:4px;
  width: 22.1vw;
  height: auto;
}
.order__block{ 
  display: flex;
  align-items: start;
  font-size:0.75rem;
  font-family: "Helvetica";
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 3%;

}
.secondDiv{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:100%;
  height: 19.8vh;
  border-radius:16px;
  gap:0.75vh;
}
.topDiv{
  width: 100%;
  height: 17px;
  display:flex;
  justify-content: space-between;
  color:white
}
.bottomDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 88px;
  display:flex;
  background: #2D2F35; 
  border-radius: 16px;
  color:#f1f7f2

}
.innerCenterDivTop{
  width:49vw ;
  height: auto;
  display:flex;
  justify-content: space-between;
}
.innerCenterDivBottom{
  width:49vw ;
  height: auto;
  display:flex;
  justify-content: space-between;
}

.bottomAsk{
  font-family: Helvetica;
  font-weight: 400;
  font-size: 0.75rem;
  width: 100%;
  height: 7.74vh;
  border-radius: 20px;
}
.centerDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.deleted{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14.3vw;
  height: auto;
  color: #FFFFFF;
  font-family: Helvetica;
  font-size: 0.75rem;
  opacity: 50%;
  text-decoration: line-through;

}
.total {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18.4vw;
  height: 4.9vh;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.12);
}

@media (min-width: 414px) {
  
    .currency-div {
        width: 7vw; 
        height: 7vw;
    }

    .currency-logo {
        width: 5.5vw; 
        height: 3vh;
    }

    .dolar {
        width: 2.4vw;  
        height: 2.4vh;
        font-size: 1rem; 
    }

    .rightlanguage {
        width: 10vw;  
        height: 6vh;
        border-radius: 50px;
    }
    .text-EN {
      color: rgb(249, 248, 248);  
      font-size:  1.2rem;  
    }

  

    .currencyDiv {
        top: 8vh;  
        left: 38vw;
    }
  
  .navigation-btn{ 
    width: 25vw;
    height: 6.4vh;
  }

    .loginRegistrationOrders{
      height: 80vh;
    }
    .loginregMain{
    width: 51vw;
    height: 7vh;
    padding: 8px;
    font-size: 20px;
    border-radius: 1.25rem;
    background:#FFFFFF;
    
    }
    .logregblock{
      display: flex;
      flex-direction: column;
      gap: 1.5vh;
    }
    .orders{
      width: 60vw;
      height: 6.33vh;
      font-size: 20px;
      
    }
    .checkboxSoc {
      width: 3.5vw;
      height: 3.5vw;
    }
   
    .bottomAsk{
      width: 45vw;
    }
    .deleted{
      font-size: 1rem;
    }
 
  }
  
  @media (min-width: 768px) {
    .loginregMain{
    width: 55vw;
    height: 8vh;
    font-size: 1.35rem;
    border-radius: 1.25rem;
    background:#FFFFFF;
    }
    .orders{
    width: 60vw;
    height: 8vh;
    font-size: 1.35rem;
      
    }
    .currencyDiv{
      top: 10vh;
      left: 36vw;
    }
    .languageDiv{

      top: 10vh;
      left: 61vw;
    }
    .checkboxSoc {
      width: 2.5vw;
      height: 2.5vw;
      background-color: #20242C;
      border: 1px solid #f1f7f2;
      border-radius: 4px;
    }
    .registrationREG{
      width: 60vw;
    }
    input{
      width: 55vw;
      height: auto;
    }
    .registrationAction{
      width: 55vw;
      height: 6vh;
    }
    .loginregcheck{
      display: flex;
      gap:5vw;
    
    }
    .logreg{
      width: 60vw;
      height: auto;
    }
    .bottomAsk{
      width: 45vw;
    }
    .deleted{
      font-size: 1rem;
    }
    .total {
      width: 10vw;
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .loginreg{
        width: 50vw; 
        height: 7vh; 
        font-size: 1.3rem;
    }
    .orders{
        width: 55vw; 
        height: 7vh;
        font-size: 1.3rem;
    }
    .currencyDiv{
        top: 9vh; 
        left: 38vw;
    }
    .languageDiv{
        top: 9vh; 
        left: 60vw;
    }
    .navigation-btn{ 
        width: 22vw;
        height: 8vh;
        border-radius: 50px;
    }
    .currency-logo{
        width: 7vw;
        height: 4.5vh;
    }
    .dolar {
        width: 2.8vw;
        height: 2.8vh;
    }
    .lang-logo{
        width: 7vw;
        height: 4.5vh;
    }
    .text-EN {
        font-size: 1.15rem;  
    }
    .selected-lang-logo{
        width: 7vw;
        height: 4.5vh;
    }
    .checkboxSoc {
      width: 3.5vw;
      height: 3.5vw;
      background-color: #20242C;
      border: 1px solid #f1f7f2;
      border-radius: 4px;
    }
     .deleted{
      font-size: 1rem;
    
    }
    .registrationREG{
      width: 60vw;
    }
    input{
      width: 55vw;
      height: auto;
    }
    .registrationAction{
      width: 40vw;
      height: 6vh;
    }
    .loginregcheck{
      gap:4vw;
    }
    .logreg{
      width: 40vw;
    }
    .bottomAsk{
      width: 45vw;
    }
    .deleted{
      font-size: 1rem;
    }
    .total {
      width: 10vw;
    }
    
    
}

  @media (min-width: 1024px) {
    .loginreg{
      width: 25vw;
      height: 8vh;
      font-size: 1.35rem;
      }
      .orders{
      width: 30vw;
      height: 8vh;
      font-size: 1.35rem;
        
      }
      .currencyDiv{
        top: 10vh;
        left: 36vw;
      }
      .languageDiv{
  
        top: 10vh;
        left: 61vw;
      }
      .navigation-btn{ 
        width: 20vw;
        height: 9vh;
        border-radius: 50px;
      }
      .currency-logo{
        width: 8.25vw;
        height: 5.25vh;
      }
      .dolar {
        width: 3vw;
        height: 3vh;
      }
      .lang-logo{
        width: 8.25vw;
        height: 5.25vh;
      }
      .text-EN {
        font-size: 1.1rem;  
      }
      .selected-lang-logo{
        width: 8.25vw;
        height: 5.25vh;
      }
      .checkboxSoc {
        width: 3vw;
        height: 3vw;
        background-color: #20242C;
        border: 1px solid #f1f7f2;
        border-radius: 4px;
      }
      .registrationREG{
        width: 60vw;
      }
      input{
        width: 55vw;
        height: auto;
      }
      .registrationAction{
        width: 40vw;
        height: 6vh;
      }
      .loginregcheck{
        gap:4vw;
      }
      .logreg{
        width: 40vw;
      }
      .bottomAsk{
        width: 45vw;
      }
      .deleted{
        font-size: 1rem;
      }
      .total {
        width: 10vw;
      }
      
  }